<section>
    <h1>Plataforma de ingreso de productos</h1>
    <div>
        <h2>Ingresar producto nuevo</h2>
        <form onsubmit="return addProduct(this)">
            <input placeholder="Titulo del producto" type="text" name="title" id="title" required />
            <input placeholder="Precio" type="number" name="price" id="price" required>
            <input placeholder="Ruta de la imagen" type="text" name="thumbnail" id="thumbnail">
            <input type="submit" value="Enviar formulario">
        </form>
    </div>
</section>
{{!-- <div class="productos"></div> --}}
{{>products}}