<section>
    <h1>Plataforma de ingreso de productos</h1>
    <div>
        <h2>Ingresar producto nuevo</h2>
        <form>
            <input placeholder="Titulo del producto" type="text" name="newTitle"  required />
            <input placeholder="Precio" type="number" name="newPrice"  required>
            {{!-- <input placeholder="Ruta de la imagen" type="text" name="thumbnail" id="thumbnail"> --}}
            <input type="submit" id="newProd" value="Agregar nuevo producto">
        </form>
    </div>
</section>
{{!-- <div class="productos"></div> --}}
<div class="productList"></div>