<h1>Plataforma de ingreso de productos</h1>
<div>
    <h2>Ingresar producto nuevo</h2>
    <form action="/productos" method="post">
        <input placeholder="Titulo del producto" type="text" name="title" required />
        <input placeholder="Precio" type="number" name="price" required>
        <input placeholder="Ruta de la imagen" type="text" name="thumbnail" >
        <input type="submit" value="Enviar formulario">
    </form>
    <% if (producto) { %>
        <h2>Último producto agregado</h2>
        <h3><%= producto.title %></h3>
        <p><%= producto.price %></p>
        <img src=<%= producto.thumbnail %> alt=<%= producto.title %> >
    <% } %>
    <a href="/productos">Ver lista de productos</a>
</div>