<h2>Productos</h2>
<ul>
    <% productos.forEach( p =>{ %>
        <li>
            <h3><%= p.title %></h3>
            <p><%= p.price %></p>
            <img src=<%= p.thumbnail %> alt=<%= p.title %> />
        </li>
    <% }) %>
</ul>
    <a href="/">HOME</a>
</ul>