{{#if isUser}}
    <div class="container text-center my-3">
        <div class="logged-on" style="background-color: green;color: white;">
            <h2><i>Bienvenido {{user.email}}</i></h2>
            <form action="/logout">
                <div class="text-center"></div>
                    <button class="btn btn-danger my-5">LOGOUT</button>
                </div>
            </form>
        </div>
    </div>
{{/if}}
<section>
    <h1>Plataforma de ingreso de productos</h1>
    <div>
        <h2>Ingresar producto nuevo</h2>
        <form>
            <input placeholder="Titulo del producto" type="text" name="newTitle"  required />
            <input placeholder="Precio" type="number" name="newPrice"  required>
            {{!-- <input placeholder="Ruta de la imagen" type="text" name="thumbnail" id="thumbnail"> --}}
            <input type="submit" id="newProd" value="Agregar nuevo producto">
        </form>
    </div>
</section>

<div class="productList"></div>

<script src="js/productsHandler.js"></script>