<div class="login">
  <h1>Log in</h1>
  <h2>Ingresar credenciales</h2>
  <form action="/login" method="post">
    <input placeholder="usuario" type="text" name="user" required />
    <input type="submit" value="Enviar usuario" />
  </form>
</div>