{{#if mensajes}}
    <ul>
        {{#each mensajes}}
            <li class="rowMsj">
                <strong>{{email}}</strong>
                <span class="fecha">{{fecha}}</span>
                <span>: {{mensaje}}</span>
            </li>
        {{/each}}
    </ul>
{{/if}}